{% extends "base.html" %}
{% block content %}
{% if error %}
<p class="error">{{error}}</p>
{% endif %}

<div class="definition">
    <h4>{{term.label}}</h4>
    <p>{{term.annotation}}</p>
</div>

<form class="form" method="POST" action="{% url 'term_review' %}">
    {% csrf_token %}
    <div style="display: flex; justify-content: space-between">
        <div>
            {{form.good.label_tag}}
            {{form.good}}
        </div>
        <input class="next btn" type="submit" value="Next" style="align-self: flex-end">
    </div>
    <div style="display: flex">
        <div id="proposal" style="display: none">
            <div style="display: flex; flex-direction: column">
                {{form.proposal.label_tag}}
                {{form.proposal}}
            </div>
        </div>
        <div style="display: flex; flex-direction: column">
            {{form.comment.label_tag}}
            {{form.comment}}
        </div>
    </div>
    {{form.term_id}}
</form>
<div style="text-align:center;border: 1px solid #ccc;">
    <span style="position:absolute;{% if percent >= 55 %}color:white{% endif %}">
        {{percent | floatformat}}%</span>
    <div style="width:{{percent}}%;background-color:#5E81C0;text-align:center;height:1.5em">
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function(event){
        var bad = document.getElementById("id_good_1");
        var good = document.getElementById("id_good_0");
        var proposal = document.getElementById("proposal");
        bad.addEventListener("click", function(event){
            proposal.style.display = 'inherit';
        });
        good.addEventListener("click", function(event){
            proposal.style.display = 'none';
        });
    });
</script>
{% endblock %}
